@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidhansabha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/HomeAssests/Home/css/bootstrap.css">
    <link rel="stylesheet" href="/HomeAssests/Home/css/style.css">
    <link rel="stylesheet" href="/HomeAssests/Home/css/media.css">

</head>
<body>

    <!-- Navbar -->


    <nav class="navbar navbar-expand-lg mb-3">
        <div class="container-lg">
            <a class="navbar-brand fw-bold" href="#">
                <img src="/HomeAssests/Home/img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-iconpt-2 text-dark">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ms-lg-auto">
                    <li class="nav-item"><a class="nav-link text-primary" href="/home/index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/events">Events</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/yojana">Gov. schemes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/achievements">Achievements</a></li>
                    <li class="nav-item"><a class="nav-link" href="/home/contact">Contact</a></li>
                </ul>
                <div class="ms-lg-2">
                    <a href="/Auth/Login" class="btn btn-primary rounded-3 py-1 m-0">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="section-p pt-3">
        <div class="container-lg">
            <h3 class="subheading text-center mb-5">Contact us</h3>
            <div class="row g-4 align-items-center">
                <div class="col-lg-5">
                    <div class="contact-card">
                        <h5 class="mb-4 fw-bold">Contact Information</h5>

                        <div class="d-flex mb-3 contact-info">
                            <i class="bi bi-geo-alt"></i>
                            <div>
                                <h6>Address</h6>
                                <p class="mb-0 text-muted">Bijnor, Uttar Pradesh</p>
                            </div>
                        </div>

                        <div class="d-flex mb-3 contact-info">
                            <i class="bi bi-telephone"></i>
                            <div>
                                <h6>Phone</h6>
                                <p class="mb-0 text-muted">+91 9897666841</p>
                            </div>
                        </div>

                        <div class="d-flex mb-3 contact-info">
                            <i class="bi bi-envelope"></i>
                            <div>
                                <h6>Email</h6>
                                <p class="mb-0 text-muted">aishwaryamausamc@gmail.com</p>
                            </div>
                        </div>

                        <div class="social-icon mt-4">
                            <a href="https://www.facebook.com/aishwaryachaudharybijnor/" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://wa.me/919897666841" target="_blank">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                            <a href="https://x.com/mlasuchibjp?lang=en" target="_blank">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <a href="https://www.instagram.com/aishwaryachaudharybijnor/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card rounded-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.65412869593!2d78.13246417549372!3d29.372442175253154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390b0653f2b4a57d%3A0xbad498b7e1c74b13!2sBijnor%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1730000000000!5m2!1sen!2sin"
                                width="100%"
                                height="400"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <footer>
        <div class="container-lg">

            <p class="mb-0">&copy; 2025 Vidhansabha. All Rights Reserved.</p>

        

        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</body>
</html>
