
@media screen and (max-width:998px) {
    .navbar-brand {
        margin-right: 0;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
    }

    .navbar-nav {
        align-items: center;
    }

    .hero-content {
        width: 45%;
        margin-top: 30px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero-img {
        width: auto !important;
        height: 60vh;
    }

        .hero-img img {
            object-fit: contain;
        }

    .info-section {
        margin: 60px 60px 0;
    }

    .gv-content-right {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .hero-content {
        width: 75%;
    }

    .about-img, .about-img-cont {
        max-width: initial;
    }

    .info-section {
        margin: 60px 0px 0;
    }

    .gallery-div {
        grid-template-columns: repeat(2, 1fr);
    }

    .subheading {
        font-size: 1.5rem;
    }

    .ev-img {
        aspect-ratio: 1/.5;
        height: 150px;
    }

    .hero-img {
        width: auto !important;
        height: auto;
    }
}

@media screen and (max-width:500px) {
    body {
        font-size: 13px;
    }

    .navbar-brand {
        max-width: 200px;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .hero p {
        font-size: 1rem;
        margin-top: 10px;
    }

    .hero-content {
        width: 85%;
    }

    .gallery-div {
        grid-template-columns: repeat(1, 1fr);
    }
    /* .gv-content h3{
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px #27272794;
} */
    .yojana-title h5, .subheading {
        font-size: 1.2rem;
    }

    .about-div p {
        padding-right: 0px;
    }

    .ev-img {
        aspect-ratio: 1/.5;
        height: 100px;
    }
}
